.bottomVisual
  .bottomVisual__Content
    .bottomVisual__Content__Subtital
      だれでもかんたん、人生を変えるフリマアプリ
    .bottomVisual__Content__text
      今すぐ無料ダウンロード！
    .bottomVisual__Content__btn
      = image_tag "Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg", class: "app_apple"
      = image_tag "google-play-badge.png", class: "app_google"
