.footer{
  height:220px;
  width:100vw;
  background-color:lightgray;
  &__box{
    width:456px;
    height:140px;
    padding: 40px 0;
    margin: 0 auto;
    &__top{
      &__lists{
        display: flex;
        list-style: none;
        &__list{
          padding: 10px;
        }
      }
    }
  }
}
.icons{
    font-size: 40px;
    color:white;
    margin:0 20px;
    text-align: 80px;
    line-height: 80px;
  }
  ._mail{
    text-decoration: none;
  }
  .copy{
    text-decoration: none;
    color:white;
  }
