.footer
  .footer__box
    .footer__box__top
      %ul.footer__box__top__lists
        %li.footer__box__top__lists__list
          = link_to '#', class: "copy" do
            プライバシーポリシー
        %li.footer__box__top__lists__list
          = link_to '#', class: "copy" do
            利用規約
        %li.footer__box__top__lists__list
          = link_to '#', class: "copy" do
            取引商法に関する表記

      .footer__box__mid
      .footer__box__bottom
